<p id="notice"><%= notice %></p>

<h1>Listing Bookmarks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.title %></td>
        <td><a href="<%= bookmark.url %>"><%= bookmark.url[0..30] %></a></td>
        <td><%= bookmark.created_at.strftime("%a %d %b %y %H:%M") %></td>	
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_bookmark_path, class: 'btn-sm btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Add 
<% end %>
